<h1>My Courses</h1>

<% if !@courses %>

<p>No courses to display.</p>

<% else %>

<%= @courses.each do |course| %>

  <h2><%= link_to course.name, course_path(course) %></h2>

<% end %>

<% end %>

<%= link_to 'New Course', new_course_path, class: 'btn btn-primary' %>
