/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(//fonts.googleapis.com/css?family=Oswald:300);

h1 {
  text-align: center;
}

h1, h2 {
  margin-top: 20px;
}

div.main {
  margin: 0 auto;
}

.navbar-inverse {
  background: #333333;
}

a.navbar-brand {
  padding: 0;
  margin-top: -20px;
  margin-bottom: -20px;
  font-family: 'Oswald';
  font-size: 2.5em;
  text-transform: uppercase;
}

button.navbar-toggler {
  background: repeating-linear-gradient(
    0deg,
    #333333,
    #333333 10px,
    #007bff 0px,
    #007bff 15px
  );
}

div.intro {
  text-align: center;
  h2 {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  p {
    font-style: italic;
  }
}

img.img-responsive {
  max-width: 100%;
  border: 1px solid #cccccc;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

@media (max-width: 767px) {
  a.navbar-brand {
    font-size: 2em;
  }
}
